{% extends 'base.html' %}
{% block content %}
    <a href="{% url 'books:list' %}" class="btn btn-secondary">Regresar</a>
    <h1>Detalle del libro</h1>
    <p>{{ object.title }}</p>
    <p>{{ object.date_release }}</p>
{% endblock %}

{% block extrajs %}
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            let js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}
