{% extends "base.html" %} {% load static %}
{% block content %}
    <div class="container">
        <a onclick="create_modal('{% url 'books:create' %}')" class="btn btn-success">Agregar</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre del libro</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ book.title }}</td>
                    <td>
                        <a onclick="edit_modal('{% url 'books:update' book.pk %}')" class="btn btn-info">Editar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>No hay elementos</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="modal fade" id="create" role="dialog"></div>
        <div class="modal fade" id="edit" role="dialog"></div>
    </div>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        const $ = jQuery.noConflict()

        function create_modal(url) {
            $('#create').load(url, function () {
                $(this).modal('show');
            })
        }

        function edit_modal(url) {
            $('#edit').load(url, function () {
                $(this).modal('show');
            })
        }
    </script>
{% endblock %}